:root {
  --primary-background-color: #24212b;
  --heading-color: #a08cce;
  --accent-color: #b58ab0;
  --tertiary-color: #992f69;
  --heading-font-family: "Caveat", cursive;
  --heading-font-size: 70px;
  --primary-font-family: "Raleway", sans-serif;
}

body {
  font-family: var(--primary-font-family);
}

.hero {
  padding: 100px 0;
  text-align: center;
  background-color: var(--primary-background-color);
}

h1 {
  font-family: var(--heading-font-family);
  font-size: var(--heading-font-size);
  color: var(--heading-color);
}

.hero h1 {
  padding-bottom: 50px;
}

h2 {
  font-size: 40px;
  font-family: var(--heading-font-family);
  color: var(--tertiary-color);
}

h3 {
  color: white;
  font-size: 20px;
}

.hero p {
  font-size: 19px;
  color: white;
}

.emphasize {
  color: var(--accent-color);
}

a:hover {
  color: var(--tertiary-color);
}

.primary-text {
  max-width: 630px;
  margin: 0 auto;
}
.container {
  text-align: center;
  margin-bottom: 75px;
}
.light-section {
  color: var(--primary-background-color);
  opacity: 0.8;
  font-size: 16px;
  line-height: 1.7;
}

.underline {
  text-decoration: underline var(--accent-color);
}

.bottom-section {
  padding-top: 65px;
  padding-bottom: 70px;
  background-color: var(--primary-background-color);
  border: 25px solid white;
}

.bottom-section h2 {
  color: var(--heading-color);
}

.bottom-section h4,
p {
  color: white;
}

hr {
  color: white;
}

ul {
  color: white;
  opacity: 0.8;
  list-style: none;
}

.alphabetical-sorting {
  text-align: center;
  font-size: 20px;
  padding-top: 50px;
  padding-bottom: 60px;
}

.alphabetical-sorting a,
.to-top-link {
  color: var(--accent-color);
}
.alphabetical-sorting a:hover {
  color: var(--tertiary-color);
}

.to-top-link {
  text-align: center;
  display: block;
  padding-bottom: 100px;
}

.meanings-container ul {
  padding: 0;
}

.color-red {
  color: #e02622;
}
.color-orange {
  color: #f88b28;
}
.color-yellow {
  color: #eec002;
}
.color-pink {
  color: #e497bf;
}
.color-purple {
  color: #c3a2dd;
}
.color-white {
  color: #dddccc;
}

.sort-love,
.sort-friendship,
.sort-admiration,
.sort-gratitude,
.sort-sympathy,
.sort-joy,
.sort-patience,
.sort-remembrance,
.sort-kindness,
.sort-peace,
.sort-wisdom {
  border: 1px solid var(--accent-color);
  background: #b58ab03b;
  color: white;
  padding: 10px 10px;
  text-decoration: none;
  border-radius: 15px;
}
.sort-love:hover,
.sort-friendship:hover,
.sort-admiration:hover,
.sort-gratitude:hover,
.sort-sympathy:hover,
.sort-joy:hover,
.sort-patience:hover,
.sort-remembrance:hover,
.sort-kindness:hover,
.sort-peace:hover,
.sort-wisdom:hover {
  border: 1px solid var(--tertiary-color);
  transition: 220ms ease-in-out;
}

.meanings-sorting {
  text-align: center;
  display: block;
  padding: 22px 15px;
  line-height: 3;
}

.contact-p {
  color: var(--tertiary-color);
  font-size: 35px;
}

.contact-link {
  color: var(--tertiary-color);
}

.contact-link:hover {
  color: var(--accent-color);
}

.contact-flowers {
  width: 75%;
  border-radius: 25px;
}

@media (max-width: 576px) {
  h1 {
    font-size: 53px;
  }
  .hero p {
    padding: 0 22px;
  }
  p {
    margin-bottom: 0;
    font-size: 18px !important;
  }
  .bottom-section {
    border: 10px solid white;
  }
  .bottom-section h3 {
    padding: 0 25px;
  }
  .hp-flowers {
    width: 80%;
  }
  .alphabetical-sorting {
    font-size: 15px;
  }
  .contact-section {
    border: 10px solid white;
  }
}

@media (max-width: 602px) {
  .a-z-h3,
  .meanings-h3 {
    padding: 0 22px;
  }
}

@media (max-width: 663px) {
  .hero p {
    padding: 0 22px;
  }
  .alphabetical-sorting {
    padding: 17px 12px;
  }
  .to-top-link {
    padding-bottom: 50px;
  }
  ul {
    padding: 0;
  }
}

@media (max-width: 991px) {
  .roses {
    width: 70%;
  }
  .bottom-section h3 {
    padding: 0 25px;
  }
  .bottom-section p {
    font-size: 20px;
  }
  .contact-h1 {
    padding: 0 30px;
  }
}

@media (max-width: 1030px) {
  .bottom-section h3 {
    padding: 0 25px;
  }
}

@media (min-width: 576px) {
  .to-top-link {
    display: none;
  }
}
